html,
body {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 25vw;
  padding: 30px;
  border-radius: 2px;
  justify-content: center;
  box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.75);
}

form > input {
  height: 25px;
  margin: 5px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid black;
  font-family: "Open Sans", sans-serif;
}

form > input[type="submit"],
button {
  height: 40px;
  background: #ff7a59;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

input[type="checkbox"] {
  height: 35px;
  width: 35px;
}

.option {
  height: 30px;
  border-radius: 3px;
  color: black;
  text-align: center;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  background: #ff7a59;
  color: white;
  font-weight: 500;
  border: none;
}

input:focus {
  outline: none !important;
  border-bottom-color: #ff7a59;
}

h3 {
  padding: 5px;
}

.addTodo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTodoBox {
  width: 500px;
  border-radius: 2px;
  border: 1px solid gainsboro;
  padding: 6px;
  margin-bottom: 10px;
}

.addBookButton {
  height: 25px;
  border: none;
  border: 1px solid #000;
  border-radius: 2px;
  width: 100px;
  margin-bottom: 6px;
  margin-top: 0 !important;
}

.todoContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid gainsboro;
  padding-left: 10px;
  border-radius: 2px;
}

button {
  margin: 0;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.todoText {
  display: flex;
  align-items: center;
  width: 95%;
  border-radius: 2px;
}

.done {
  text-decoration: line-through;
}

.todoMainContainer {
  width: 60vw;
  height: 85vh;
}

.markAsDone {
  background: transparent;
}

.homeHeader {
  border-bottom: 1px solid black;
}

.stickyHeader {
  position: sticky;
  position: absolute;
  top: 0;
  width: 60%;
}

.books {
  position: relative;
  margin-top: 125px;
}

@media screen and (max-width: 790px) {
  .form {
    height: 50vh;
    width: 65vw;
  }

  .todoContainer {
    width: 85vw;
    align-items: center;
  }

  #root {
    width: 90vw;
  }

  .addTodo {
    width: 85vw;
  }

  .homeHeader {
    width: 85vw;
  }

  input[type="checkbox"] {
    width: 25px;
    height: 25px;
  }

  .todoMainContainer {
    width: 100vw;
  }
}
